* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
a {
    text-decoration: none;
}
header {
    position: fixed;
    padding: 17px 35px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    a {
        color: #ffffff;
    }
    nav {
        display: flex;
        justify-content: space-between;
        a{
            font-size: 16px;
            padding: 0 15px;
            i {
                font-size: 11px;
            }
        }
    }
    .icons {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        .favorites {
            position: relative;
            .favorites-badge{
                position: absolute;
                right: -13px;
                top: -6px;
            }
        }
        .basket {
            position: relative;
            .basket-badge{
                position: absolute;
                right: -13px;
                top: -6px;
            }
        }
        .badge {
            background-color: #ffffff;
            color: #010f1c;
            font-size: 12px;
            font-weight: 700;
            width: 22px;
            height: 22px;
            text-align: center;
            border-radius: 50%;
        }
    }
}
#SliderAll {
    background-image: url(https://weblearnbd.net/tphtml/shofy-prv/shofy/assets/img/slider/3/slider-1.jpg);
    padding-top: 250px;
    .slider-text {
        color: #ffffff;
        width: 45%;
        span {
            font-family: 'Charm', cursive;
            font-size: 30px;
            margin-bottom: 8px;
        }
        h3 {
            font-size: 100px;
            font-weight: 400;
            line-height: 1.06;
            margin-bottom: 22px;
        }
        .items {
            display: flex;
            justify-content: center;
            width: 80%;
            .item {
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                svg {
                    font-size: 35px;
                }
                h3 {
                    font-size: 16px;
                    margin-bottom: 8px;
                    margin-left: 8px;
                }
            }
            .divider{
                width: 1px;
                height: 100%;
                margin: 0 50px;
                background-color: #ffffff33;
            }
        }
    }
}